<div class="search-wrapper">
  <span>Search</span>
  <input
    type="text"
    [(ngModel)]="searchKeyword"
    (ngModelChange)="onChangeValueSearch($event)"
  />
</div>

<!-- <form action=""> -->
<div>
  <label for="iconUrl">Icon URL</label>
  <input type="text" name="icon url" id="iconUrl" [(ngModel)]="iconUrl" />
</div>
<div>
  <label for="name">Product Name</label>
  <input type="text" name="product name" id="name" [(ngModel)]="productName" />
</div>
<div>
  <label for="location">Location</label>
  <input type="text" name="location" id="location" [(ngModel)]="location" />
</div>
<div>
  <label for="v">Datetime</label>
  <input type="text" name="dateTime" id="dateTime" [(ngModel)]="dateTime" />
</div>
<div>
  <label for="amount">Amount</label>
  <input type="number" name="" id="amount" [(ngModel)]="amount" />
</div>
<div>
  <label for="price">Price</label>
  <input type="text" name="price" id="price" [(ngModel)]="price" />
</div>
<div>
  <label for="status">Status</label>
  <input type="text" name="status" id="status" [(ngModel)]="status" />
</div>

<button type="submit" (click)="addItem()">Add</button>
<button type="submit" (click)="editItem()">Edit</button>
<!-- </form> -->

<table class="table-wrapper">
  <thead class="table-header">
    <tr>
      <th *ngFor="let name of columnName">
        {{ name }}<button (click)="sort()">sort</button>
      </th>
      <td>Action</td>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let row of filterData">
      <td>
        <span><img src="{{ row.iconUrl }}" alt="" /></span>{{ row.productName }}
      </td>
      <td>{{ row.location }}</td>
      <td>{{ row.dateTime }}</td>
      <td>{{ row.amount }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.status }}</td>
      <td>
        <button (click)="onEdit(row)">Edit</button>
        <button (click)="onDelete(row)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
